[2021-02-07 23:42] alexklibisz opened #1061 "Example project can't find wrappers.proto"
I cloned master and made added an import for `wrappers.proto` in `examples/basic/src/main/protobuf/addressbook.proto`:

[code]

Then when I run `protocGenerate` I get the following error:

[code]

I'm also seeing this same issue in a larger project. I've definitely gotten these examples working with google's wrappers.proto in the past. Not sure what has changed. I appreciate any tips.

[2021-02-07 23:53] alexklibisz commented on #1061
As it goes, I found the solution ~60 minutes after finding the bug and ~30 seconds after posting the issue. :)

[code]

from https://scalapb.github.io/docs/installation

[2021-02-07 23:53] #1061 closed

[2021-02-16 08:16] piyo7 opened #1068 "Duration can not have negative nanos"
In ScalaPB 0.10.11, negative nanos field of Duration is not valid.

[code]

[code]

According to Google's specification, nanos can actually be a negative value.

https://github.com/protocolbuffers/protobuf/blob/v3.14.0/src/google/protobuf/duration.proto

If it is a bug, I will create a pull request to fix [DurationCompanionMethods.scala](https://github.com/scalapb/ScalaPB/blob/master/scalapb-runti

[2021-02-20 18:53] thesamet commented on #1068
Yes, a fix will be welcome. Note that if we allow negative nanos, the Duration would have to be normalized before being compared for ordering. There are reference implementation here: https://github.com/protocolbuffers/protobuf/blob/master/java/util/src/main/java/com/google/protobuf/util/TimeUtil.java and https://github.com/protocolbuffers/protobuf/blob/master/java/util/src/main/java/com/google/pr

[2021-02-23 16:50] #1068 closed

[2021-02-23 17:49] lhohan-cb commented on #1024
Also running into this error. However I do not seem to have the `PB.protocExecutable` setting available.

Do you have any idea what could be the cause?

We are using fs2-grpc which seems to be using these version of the scalpb plugin:
https://github.com/fiadliel/fs2-grpc/blob/c598fd3429411f3cb66e8cb0edb610346edd9682/project/plugins.sbt

Any help is kindly appreciated.

[2021-02-23 17:54] thesamet commented on #1024
hi @lhohan-cb , please update to the latest version of sbt-protoc (currently 1.0.1), there is an example of `PB.protocExecutable` in this section of the docs: https://github.com/thesamet/sbt-protoc#additional-options

[2021-02-23 18:25] johnynek commented on #1024
It's not quite that simple. Most users will want to support building on M1 as well as non-M1. In the non-M1 case, you will want to use the default approach to make CI and life easier for those not on M1.

So I guess we need some configuration to switch based on detecting the arch we are on.

[2021-02-23 18:37] thesamet commented on #1024
I believe we addressed this concern in the [previous comment](https://github.com/scalapb/ScalaPB/issues/1024#issuecomment-753662905) - overriding PB.protocExecutable conditionally on the detected platform is fairly straightforward.

[2021-02-23 18:53] johnynek commented on #1024
Indeed, I overlooked that.

[2021-02-24 15:50] lhohan-cb commented on #1024
Thanks @thesamet

Since I was using this through fs2-grpc I could update this plugin to 0.9.0-M1 which had the version of sbt-protoc I required 😅 .

I had to change your example above code a little:

[code]

[2021-03-01 09:06] Vishvin95 opened #1078 "java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.encoders.ExpressionEncoder.<init>"
Using Apache Spark 3.0, when trying to read Azure Event Hub source with following dependencies in SBT, it gives the following exception:
``
java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.encoders.ExpressionEncoder.<init>(Lorg/apache/spark/sql/types/StructType;ZLscala/collection/Seq;Lorg/apache/spark/sql/catalyst/expressions/Expression;Lscala/reflect/ClassTag;)V
	at frameless.TypedExpre

[2021-03-01 16:46] thesamet commented on #1078
Please see the [version compatibility matrix](https://scalapb.github.io/docs/sparksql/#setting-up-your-project). To use spark 3 you need to update sparksql-scalapb to 0.11.0-RC1

[2021-03-02 17:45] aksharp opened #1079 "Generated code in wrong package"
When importing shared proto definition and using it fully qualified in `oneOf`, the generated code does not compile and seems to be generated in the wrong package.

Example:

**Shared.proto**
[code]

**MyApp.proto**
[code]

Using these plugin versions
[code]

**Compile Errors:**
[code]

[2021-03-02 17:50] aksharp commented on #1079
Also tried with
[code]
Same issue

[2021-03-02 17:51] thesamet commented on #1079
@aksharp , few clarification questions:
1. are the two protos in the same sbt project?
2. are there any protoc generator paramters passed to ScalaPB from build.sbt?

[2021-03-02 18:03] thesamet commented on #1079
I was able to reproduce. Thanks for reporting. I will look into it.

[2021-03-02 18:36] thesamet commented on #1079
It looks like the sealed value violates [Rule 4](https://scalapb.github.io/docs/sealed-oneofs#sealed-oneof-rules):

This requirement is necessary: sealed oneofs are transformed to sealed values in Scala which must be on the same file.

The next step for this issue would be to make sure the code generator gives an error message rather than generating invalid code.

[2021-03-02 18:49] aksharp commented on #1079
So if a developer wants to reuse a response type, such as ErrorResponse across all oneOf across all gRPC responses, it would need to be either duplicated in each namespace or all are forced to use the same namespace.

[2021-03-02 18:53] aksharp commented on #1079
Might be irrelevant now that you find the issue. Answering anyway :)
Yes, same project, central `api` project that contains all the protos. Nothing extra in build.sbt.

[2021-03-02 19:19] thesamet commented on #1079
The limitation you stated is true for sealed oneofs, not oneofs in general. I think that for your use case, what would be nice to try is to use regular oneofs and create a generic typemapper that can transform response messages to `Either[T,  ErrorResponse]` or any representation you want to have in Scala.

[2021-03-03 21:57] joagain opened #1080 "Serialization issue with scalapb.TypeMapper"
Hi,

My issue is similar to https://github.com/scalapb/ScalaPB/issues/841 and https://github.com/scalapb/ScalaPB/issues/884
I understand it should be fixed in 0.9.3, but I am not sure why I still encounter the error.
My protobuf object contains a map.

[code]

Here is the code:
[code]

My dependencies:
[code]

How I generate the Proto classes:
[code]

@thesamet Would you have any guidance? Thank y

[2021-03-03 22:55] thesamet commented on #1080
Have you tried regenerating the code with protoc-gen-scala 0.9.8? Only changing the version of runtime wouldn't be sufficient. The relevant fix was committed for 0.9.6 (see https://github.com/scalapb/ScalaPB/commit/5a8925b3d7b820ffb533909f86c7134af3e56a2a) and it makes sure the `@transient` annotation is written before typemappers so this error is not triggered.

[2021-03-03 23:21] joagain commented on #1080
@thesamet Thank you so much, I generated with `0.9.8` and overcame this error. Again, thank you. I am closing this ssue.

[2021-03-03 23:21] #1080 closed

[2021-03-05 02:21] cozima0210 opened #1081 "can't make a class with a package that matches option java_package in proto file"
Hi @thesamet. I created an issue below, but the cause seems to be in this repo.
https://github.com/phiSgr/gatling-grpc/issues/46
I want to know why the class will be created in the different package that indicates in proto file. Is this bug?
Thanks.

[2021-03-05 03:46] thesamet commented on #1081
Hi @cozima0210 , the file names are appended by default to the package. See flat_package for a way to override this: https://scalapb.github.io/docs/customizations - this can be done through a file-level option, or applied to an entire package through package-scoped option.

[2021-03-05 03:46] #1081 closed

[2021-03-05 04:02] cozima0210 commented on #1081
@thesamet I solved it! Thaks a lot!!

[2021-03-05 04:13] phiSgr commented on #1081
It's disappointing that, in the linked issue, I already pointed to the `flat_package` flag used by akka grpc. The documentation linked is just one google away. Yet OP chose to open an issue right away. Behaviour pattern like this really demoralizes open-source contributors from writing documentations. What good are docuementations if they are not read?

Also, if it were directed at me, I would tak

[2021-03-07 16:39] #1079 closed

[2021-03-07 16:39] #1078 closed

[2021-03-08 08:10] thesamet commented on #1033
The commit above reduces the code size by 10% by eliminating the Builder (for 0.11.x branch only). The tradeoff is that the less frequent use-case of merging a CodedInputStream with an existing message is done less efficiently.

[2021-03-10 07:54] awu opened #1090 "Compiling java conversions on protos with no package statement throws java.lang.StringIndexOutOfBoundsException"
When attempting to compile java conversions on a proto with no package statement it throws the following error:
[code]

Minimum reproducible example:
[code]

[2021-03-15 23:01] jschumacher-dexcom opened #1097 "Feature request: Support proto3 optionals"
Support for optionals was added back to proto3 recently:
https://github.com/protocolbuffers/protobuf/releases/tag/v3.15.0

The following proto schema fails to compile with ScalaPB 0.11.0-M7
[code]

[2021-03-16 00:03] thesamet commented on #1097
proto3 optionals are supported. Can you clarify how does it fail? Are you passing the correct experimental flag to protoc using PB.protocOptions?

[2021-03-16 16:23] jschumacher-dexcom commented on #1097
Ahh, thank you-- that did it.  I should have noticed the error message: `receiver.proto: This file contains proto3 optional fields, but --experimental_allow_proto3_optional was not set.`. In the latest version of protoc, the `--experimental_allow_proto3_optional` flag is no longer required.

[2021-03-16 16:23] #1097 closed

[2021-03-16 17:31] tOverney opened #1098 "Add an option to skip the generation of the `getXYZ` methods on the fields"
When generating the scala classes for the proto messages;
If a field is optional it currently always generate a get method that relies on the default value:
https://github.com/scalapb/ScalaPB/blob/master/compiler-plugin/src/main/scala/scalapb/compiler/ProtobufGenerator.scala#L1329

These methods are not very Scala idiomatic and add unneeded options;
For my use case it would be nice to skip their g

[2021-03-16 17:34] tOverney commented on #1098
One point is that those gets are currently used in the lenses' logic so maybe they should still be generated but with a private[xyz] scope so that they don't leak

[2021-03-16 18:29] thesamet commented on #1098
Hi @tOverney , thanks for making this feature request and offering to work on a PR. Yes, we can definitely have something like this accepted. The new option should be a file-level option, so users can apply it an en entire package through package-scoped option.

As you noted, `lenses` relies on the getters, so when the `no_lenses` is specified, the getters should not be generated at all to avoid a

[2021-03-17 01:58] thesamet commented on #1098
[This section](https://github.com/scalapb/ScalaPB/blob/master/CONTRIBUTING.md#modifying-scalapbproto) of the contributing doc will also be helpful if you are not familiar with the flow for updating scalapb.proto.

[2021-03-20 04:40] #1090 closed

[2021-03-23 14:57] saeltz opened #1102 "Add versionScheme for sbt 1.5.0"
sbt `1.5.0` is released soon and brings eviction-errors instead of eviction-warnings based on `versionScheme` and also nudges library authors to add `versionScheme` to their `build.sbt`.

I realized the property isn't added yet and I would be willing to contribute if you agree this makes sense. I think you're using `early-semver` (still pre-1.0).

[2021-03-23 15:42] thesamet commented on #1102
Thanks for bringing this up. A PR would be welcome. Confirming that we should be on `early-semver`.

[2021-03-25 08:08] elbaulp commented on #1024
I'm facing the same issue, but I am using `scalapbc` as a standalone plugin, I'm getting:

[code]

Is there any way of specifying the arch?

[2021-03-25 16:00] thesamet commented on #1024
@elbaulp Until [Protocol Buffers provides a binary for Mac M1 Arm](https://github.com/protocolbuffers/protobuf/issues/8062), you have to build protoc from source. With ScalaPBC you can pass the path to your protoc with `--protoc=/path/to/protoc`.

[2021-03-25 17:14] #1102 closed

[2021-03-26 07:28] elbaulp commented on #1024
@thesamet thanks!

[2021-03-27 14:17] thesamet commented on #1033
I believe the changes in 0.11.0 should address the concerns of this issue. Feel free to re-open if code size compared to previous 0.10.x baseline is still substantial.

[2021-03-27 14:17] #1033 closed

[2021-04-01 11:11] segfault16 opened #1114 "java.lang.ClassNotFoundException: scalapb.ScalaPbCodeGenerator since version 0.10.10"
Hi,

Since version 0.10.10 I'm getting the following error:
[code]

version 0.10.9 and prior is working fine.

Tested with the following Dockerfile:

[code]

[2021-04-01 18:12] ctoomey opened #1116 "Don't attempt to validate referenced message types without validators"
Per https://github.com/envoyproxy/protoc-gen-validate#messages

However ScalaPB's generated message validators assume all message types other than google.protobuf.* have validators and thus fails to compile when referencing message types without validators.

E.g. when using scalapb-validate-codegen and compiling this message

[code]

it will generate a validator like

[code]

To avoid this problem

[2021-04-01 18:30] thesamet commented on #1116
Thanks for reporting. I would prefer that we do it in scalapb-validate via configuration (versus reflection). A new config option will let the user specify which packages to not assume there's a validator for, to make sure that what gets validated is determined at compile time and not at runtime.

[2021-04-01 18:51] ctoomey commented on #1116
Are you mainly concerned about the runtime cost of the first-time lookups per message type, or do you have other concerns about using reflection?

[2021-04-01 18:56] thesamet commented on #1116
* compile time certainty that validation is included
* have a forward path to support non-jvm platform

[2021-04-01 21:51] thesamet commented on #1114
Thanks for reporting and providing a way to reproduce. It looks like we've hit some variant of https://github.com/scala/bug/issues/11634 impacting Scala 2.12. I updated to Scala 2.13 and transitioned to sbt-native-image which workarounds additional graalvm issues impacting Scala 2.13.

[2021-04-01 21:53] #1114 closed

[2021-04-02 02:19] sttawm opened #1117 "JSON parsing of overlapping oneof keys"
Would it make sense for the JSON parser to complain if multiple fields of a oneof are defined?

Or maybe the compiler could be configured to generate code (a `Reads[T]`) that complains if the oneof is oversubscribed?

I looked into passing a custom formatter via `.registerMessageFormatter` to gain access to the e.g. `JValue`  before passing it along to the default parser, but I don't have access t

[2021-04-02 02:25] thesamet commented on #1117
I think that it would be reason to add an option for this that should be opt-in (in order to avoid breaking existing user). Can you check how this is handled in protobuf-java? If there's some pre-existing behavior then we should follow that here. A PR to address this will be welcome.

[2021-04-02 11:46] eugeniyk commented on #778
`preserve_unknown_fields` is a killer proto feature that many serialization formats are missing in distributed systems.
So hold on with turn it to the false to satisfy compiler - it brings way more value

for 95+% cases you want unknown fields to be used *only* in 3 scenarios, during:
- `.copy`, silently copying existing state. As of current scala this makes us require have that `Set` as part of c

[2021-04-02 15:44] thesamet commented on #778
@eugeniyk - this is an unaffiliated project, but there's [scalapb-circe](https://github.com/scalapb-json/scalapb-circe).

[2021-04-05 21:01] #1116 closed

[2021-04-06 15:04] feixie79 opened #1121 "JsonFormat cannot serialize Array[GeneratedMessage] to Json"
I got JsonFormatException due to missing pattern matching of Array when trying to convert some generated message into json by the JsonFormat.

The cause is that generated method getFieldByNumber has following code
`case 4 => _root_.scalapb.descriptors.PRepeated(stopIds.iterator.map(package._typemapper_stopIds.toBase(_).toPMessage).toVector)`
which convert the stopIds from Seq[String] into Array[St

[2021-04-06 15:57] thesamet commented on #1121
Thanks for reporting and working on a PR. Let's ensure that we also understand the problem better by adding a test case that would fail without the fix you provided in the PR.

[2021-04-07 18:05] Tochemey opened #1122 "common-protos for ScalaPB 0.11"

[2021-04-08 01:40] thesamet commented on #1122
Hi @Tochemey , thanks for reporting. The release of common-protos for ScalaPB 0.11 is blocked by https://github.com/googleapis/java-common-protos/issues/134 as currently the Scala-Java converters do not compile due to a mismatch between the Java classes and protos shipped with common-protos.

[2021-04-09 10:04] AndreyIlin commented on #629
Hi @thesamet.
Personally find this option very helpful, because of the reasons described in initial comment.
However I would find it more helpful if we had an ability to leave default values for Option fields.
Maybe through some other option.
Could you please consider this feature request?

[2021-04-09 14:12] thesamet commented on #629
Currently, in ScalaPB whether a field has a default value in the case class constructor can be described like this, based on the field type, and the option `no_default_value_in_constructor` which defaults to `false`:

| setting  |  optional | required | repeated |
|----------| ------------| ------------ |------------|
|no_default_value_in_constructor=false | has default | no default | has default

[2021-04-09 15:14] AndreyIlin commented on #629
Thanks for a quick reply.
Yes, that's exactly what I meant.

[2021-04-11 14:18] thesamet commented on #1121
PR merged.

[2021-04-11 14:18] #1121 closed

[2021-04-11 14:21] thesamet commented on #1098
Hi @tOverney , are you still interested in working on this enhancement?

[2021-04-11 17:45] tOverney commented on #1098
hey @thesamet still something I'm intereste in and want to tackle, to be perfectly honest I have not started to tackle it :(

[2021-04-13 07:20] ovesco commented on #120
For those having an error with SBT compilation, this line did the job for me (based on @rafaparadela's answer, but with the new syntax)
[code]

[2021-04-13 13:56] borissmidt opened #1125 "Feature: add custom types to the generator"
It would be nice if we could register some an type conversion between the grpc types and internal types.
Like an configuration object like `my.conversions.conversions.InstantToJoda` which would convert an protobuf.instant directly to a joda.instant avoiding you to have to write a manual copy and class definition of the proto types.

I.e. a bit like most json libaries allow for with implicits that

[2021-04-13 14:46] thesamet commented on #1125
Hi @borissmidt , the feature you are requesting is already available.

[2021-04-13 14:54] borissmidt commented on #1125
Oh cool, i had read the documentation and didn't find it yet. I'm looking forward to the updated documentation and to try it out.

[2021-04-13 15:02] thesamet commented on #1125
In the mean time, the crux of it is as follows, add a proto with [package-scoped options](https://scalapb.github.io/docs/customizations#package-scoped-options)

[code]

Now you need to make sure there's an implicit `TypeMapper` to convert between `MyInstant` and `com.google.protobuf.timestamp.Timestamp`. If `MyInstant` is a class you own, the typemapper can be added to its companion object. If it'

[2021-04-13 15:44] borissmidt commented on #1125
We have some problem with these `scalapb.options` in the proto files that other languages, python, don't find the scalapb.proto file and then fail when generating code.

Also what would happen if multiple files have the same package and define a scalapb.option.
we had a lot of issue when we could only define `flatpackage=true` once causing us to rewrite most of our `.proto` files.

It would be coo

[2021-04-13 16:03] thesamet commented on #1125
For python compatibility, you could either generate python code for scalapb.proto using protoc, or if you only reference scalapb.proto from a single options file, you could exclude the options file when generating python code.

Only one file per *proto* package can define package-scoped options.

You can already define a scalapb.proto for your top-level package name, and all subpackages automatica

[2021-04-13 16:22] borissmidt commented on #1125
Oke clear i'll take this knowledge to the rest of the team.
Thank you for being so helpful and taking the time for answering my questions!

[2021-04-15 09:26] borissmidt commented on #1125
It works thank you for the help i think it would be a good idea to add a not in the documentation that version `0.10.1` needs to be used.

[2021-04-15 09:33] borissmidt commented on #1125
Btw can i also define replacement types for any user of my 'common proto types'
i.e. for example if i define an Interval so i can reuse it in other projects:

[code]
Can i add this to the package so any consumer of my protofiles would get `custom.Interval` in there project?
Or do they each time have to define this transformer themselfs on there package level with the implicit in there package?
[co

[2021-04-15 17:57] thesamet commented on #1125
@borissmidt , for your own types, you can use standard scalapb type customizations ([documented here](http://localhost:3000/docs/customizations#message-level-custom-type-and-boxing)) and they automatically applied for users of your protos.

[2021-04-15 17:57] #1125 closed

[2021-04-15 19:43] borissmidt commented on #1125
Oh wonderful those are a lot of options, thank you for the help.

[2021-04-16 01:22] thesamet commented on #1117
Hi @sttawm , are you interested in working on this?

[2021-04-16 12:53] seigert commented on #126
Well, seems like with `scalapb:1.0.3`, `sbt:1.4.7` and `IntelliJ IDEA:21.1` this problem resurrected: after `build.sbt` improt there is once again two `generate sources root` present:
- target/scala-2.13/src_managed/main
- target/scala-2.11/src_managed/main/scalapb

Sadly, there is no longer `PB.protobufConfig` option.

[2021-04-16 19:19] thesamet commented on #126
Hi @seigert , this is considered an IntelliJ Scala plugin bug since the project compiles in SBT. It would be best to report it to the IntelliJ Scala plugin team. In the meantime, you can try to update build.sbt to generate into sourceManaged.value directly rather than to scalapb subdirectory. This would make ScalaPB's source tree coincide with the default one:

[code]

Don't forget to `sbt clean`

[2021-04-19 12:57] Grogs opened #1126 "Generated gRPC code compilation fails on messages called Unit"
Similar to #427, but for a different area of code.

The code generated by `GrpcServicePrinter` references `Unit` ambiguously. When the service in question uses a message called `my.custom.Unit`, then the `invoke` methods on the generated `ServerCalls` instances end up referring to the `my.custom.Unit` instead of `scala.Unit`.

I expect this can be fixed by replacing occurences of `: Unit` with `:

[2021-04-19 22:22] #1126 closed

[2021-04-29 06:43] eugeniyk commented on #778
Saw that, works like a charm, thanks!

[2021-05-07 18:09] sttawm commented on #1117
See [this PR](https://github.com/scalapb/scalapb-json4s/pull/236)

[2021-05-14 16:10] #1098 closed

[2021-05-20 10:00] elbaulp opened #1152 "Scala 3 on Gradle: This TASTy file was produced by a more recent, forwards incompatible release"
Hello, I'm trying to use scalapb for building protos for scala3, but I'm facing this problem:

[code]

But I'm confuse, since the expected and founded versions are matching.

I'm using this version of scala:

[code]

Any idea what may be happening?

[2021-05-20 11:07] raboof opened #1153 "Improve binary compatibility between 0.10.x and 0.11.x"
On the 0.10.x branch, 9a0561901eb7d16827a837f7d22b283bd3cf9daf
introduced a `HasBuilder` trait.

This trait was not introduced to the 0.11.x branch. Because of this,
code generated with 0.10.x of the generator cannot be ran with
0.11.x of the runtime.

Of course we cannot expect 0.10.x to be fully binary compatible with
0.11.x . However, some testing suggests that just making this class
available

[2021-05-20 14:28] thesamet commented on #1152
@elbaulp Can you provide a minimal project (ideally on github) that demonstrates this problem?

[2021-05-20 14:29] thesamet commented on #1152
Given the line:

Is it possible that you are not on the final 3.0.0?

[2021-05-20 14:36] #1153 closed

[2021-05-20 14:51] raboof commented on #1153
to be clear: the use case I'm seeing for this is where you might depend on a library that contains code generated with 0.10.x, but want to depend on 0.11.x yourself (or have another dependency that depends on 0.11.x). In that case it's not just a matter of regenerating.

Definitely!

That is completely reasonable of course (even if a bit disappointing for me :D ). Thanks for the quick response!

[2021-05-24 03:03] matepek opened #1155 "Unrecognised enum's constructor could be private"
Hello,
I'm relatively new to this repo so forgive me if my lack of experience results in wasting your time.

Using the [Weather example](https://scalapb.github.io/docs/generated-code#enumerations):

[code]

This results that:

[code]

The problem is the second one I believe.

**Why?:**
I almost wrote something like that but then I realized that it wouldn't work so I got curious that others made th

[2021-05-24 03:43] thesamet commented on #1155
Hi @markosski , thanks for reporting. For messages, we have an `annotations` option that allow users to add a `private`. I will be happy to review a PR that adds support for annotating enum cases and `Unrecognized`. The options should be at the file-level (so they can apply globally via package-scoped option), and at the enum-level.

[2021-05-24 05:59] matepek commented on #1155
Annotations would work but a separate option gives more visibility to this feature, don't you think?

[2021-05-24 08:36] matepek commented on #1155
[That's the idea](https://github.com/scalapb/ScalaPB/pull/1156). What do you think? Shall I start writing tests?

[2021-05-25 07:41] elbaulp commented on #1152
Yes, I'm using 3.0.0. I'll try to write a minimal project at some point this week.

Thanks for answering

[2021-05-25 14:14] thesamet commented on #1122
This is currently blocked due to https://github.com/googleapis/java-common-protos/issues/173

[2021-05-25 15:46] thesamet opened #1158 "Sealed values and java conversion produce code that doesn't compile"
When java conversions are enabled, the following protos produce a code that doesn't compile:

[code]

Tested with ScaslaPB 0.10.11 and 0.11.3. The compiler error:

[code]

Apparently, the import for Java conversions is not emitted in this case.

[2021-05-25 15:49] juliano commented on #1158
[Minimal reproducible example here.](https://github.com/juliano/scalapb-example)

[2021-05-25 17:12] #1117 closed

[2021-05-27 08:24] elbaulp commented on #1152
BTW, I'm using gradle instead of sbt. Is that a problem?

[2021-05-27 14:02] thesamet commented on #1152
We would like it to work, but it is very likely you are the first one to be on the Gradle & ScalaPB & Scala3 intersection. Once I have your minimal project locally I'll give it a try.

[2021-05-28 11:54] elbaulp commented on #1152
@thesamet Cool, sorry I did not have time this week. Hopefully next week (I'm only working on this project once a week)

[2021-06-01 08:25] Tochemey commented on #1122
@thesamet it seems the blocker has been resolved https://github.com/googleapis/java-common-protos/issues/173.

[2021-06-01 15:26] thesamet commented on #1122
This is currently blocked due to https://github.com/googleapis/java-common-protos/issues/179

[2021-06-02 16:45] nikiforo opened #1168 "Protobuf names that end with an _ (underscore) can't be repeated"
I use
[code]

This is the `example.proto` file:
[code]

when compiling the project `sbt compile` I get this error:
[code]

[2021-06-02 20:14] #1168 closed

[2021-06-03 10:01] elbaulp commented on #1152
@thesamet sorry for taking so long, here it is:

https://github.com/elbaulp/scalapb-scala3

Just run `make build` and you should get the TASTy error

[2021-06-03 10:15] ahjohannessen commented on #1152
Try to use Scala 3.0.1-RC1 and sbt 1.5.3

[2021-06-03 10:38] elbaulp commented on #1152
Unfortunately I can not use sbt, I need gradle, because I'm automatically generating hundreds of project on the fly to be compiled, and [sbt does not allow me](https://stackoverflow.com/questions/66367587/dynamically-create-subprojects-in-scala-sbt) to dynamically create submodules

[2021-06-03 16:35] thesamet commented on #1152
@elbaulp , thanks for setting up the test project. Based on it and the pre-existing [https://github.com/scalapb/gradle-demo](gradle-demo) repo, I created a [Scala 3 branch](https://github.com/scalapb/gradle-demo/tree/scala3) which we can continue to collaborate on this issue. I would like to stick with the approach there which does not involve checking in binaries such as `protoc` and `protoc-gen-

[2021-06-04 10:48] elbaulp commented on #1152
Yeah, I have the feeling that the generated Scala code is not Scala 3 even though in Gradle we're specifying `3.0.0`.

How should we proceed? Should we wait until Gradle officially supports Scala 3? Maybe when they do the error is gone and there is no need to invest time on this.

On the contrary, we can try to make it work on the Scala 3 branch you mentioned.

I'm happy to help in whatever I can

[2021-06-04 15:20] thesamet commented on #1152
The code generated by ScalaPB compiles with both Scala 2 and Scala 3 - there's no Scala 3 specific code generated. I believe that the issue is that the Scala 3 compiler is not invoked in the build, or not invoked correctly. I think that the issue will resolve on its own once Scala 3 is supported on Gradle.

[2021-06-06 00:30] wb14123 commented on #1097
Hi @jschumacher-dexcom , I'm trying to use optional with proto3 as well but get a different error:

[code]

My dependency versions are like this:

[code]

I set protoc version and add experimental flag in build.sbt but without luck:

[code]

Though the error is different, could you still share how did you config it to resolve this issue? Thanks!

[2021-06-06 01:48] thesamet commented on #1097
This is due to akka-grpc not supporting proto3 optionals. It is a trivial change for akka-grpc since it doesn't interact with individual fields. I sent the following PR to akka-grpc: https://github.com/akka/akka-grpc/pull/1379

[2021-06-07 07:14] Parikshit-DartCoder opened #1173 "Error: Could not find or load main class scalapb.ScalaPbCodeGenerator"
Build.sbt
name := "consumers"
version := "0.1"
organization in ThisBuild := "com.abc"
scalaVersion in ThisBuild := "2.12.10"

val sparkV = "3.0.1"

lazy val sparkDependencies = Seq(
  "org.apache.spark" %% "spark-core" % sparkV,
  "org.apache.spark" %% "spark-streaming" % sparkV,
  "org.apache.spark" %% "spark-streaming-kafka-0-10" % sparkV,
  "org.apache.spark" %% "spark-sql-kafka-0-10" % sparkV,

[2021-06-07 07:15] Parikshit-DartCoder commented on #1173
I get this eror when trying to execute scalapbc/bin/protoc-gen-scala

[2021-06-07 07:28] bjaglin opened #1174 "scalapb-json4s: add support for ScalaPB generated code compiled with Scala 3"
Betting on Scala 2.13/3 compatibility, I tried to use scalapb-json4s_2.13 0.11.0 against classes compiled with Scala 3 from code generated by ScalaPB 0.11.3, and got the following errors

### NoSuchFieldException

[code]

Looking at the classpath with sbt, it's unclear which binary version of scalapb-runtime is used (`dependencyTree` shows both but `fullClasspath` shows only 2.13?), but I assume t

[2021-06-07 15:54] thesamet commented on #1173
Hi @Parikshit-DartCoder , I am confused about this problem report: in the first message you give your sbt configuration, and in the second message you state you are getting an error from a command line tool that is completely unrelated to your sbt configuration.

1. Your sbt config includes a plugin (sbt-protoc) that performs source code generation. And if `protoc.sbt` is in the `projects` directo

[2021-06-07 16:28] sudhirkumar1980 opened #1176 "scalapb error: java.lang.StackOverflowError"
We are having large number in .proto file. Scalapb is able to compile the .proto file having upto 172 fields. it failed with error error: java.lang.StackOverflowError if for proto file having more than 172 fields. is there any solution or workaround for it?
###maven plugin
      <plugin>
        <groupId>com.github.os72</groupId>
        <artifactId>protoc-jar-maven-plugin</artifactId>
        <ve

[2021-06-07 16:35] thesamet commented on #1176
Thanks for reporting. Can you provide the full exception given, and if possible a sample project that demonstrates the problem?

[2021-06-07 17:05] #1176 closed

[2021-06-07 17:25] thesamet commented on #1173
Thanks for the info. It looks like the issue with the script is a duplicate of #1114. Please update your script to download protoc-gen-scala to 0.11.3 and try again. It looks like the script also unnecessarily downloads and extracts scalapbc, though it only relies protoc-gen-scala. The download of scalapbc can be safely removed. The `chmod` also seems redundant since zip files contain the executab

[2021-06-07 17:27] thesamet commented on #1176
Has the problem been resolved? Can you share more details?

[2021-06-07 17:33] Parikshit-DartCoder commented on #1173
@thesamet Sure I will try the steps you said and update in the thread here. Also the error message I got is from running the script not sbt. When i execute sbt compile I get error as the scala classes not found.

[2021-06-07 17:37] thesamet commented on #1173
sbt-protoc needs to know where your proto files are so it can generate code for them. The default is `src/main/protobuf`, so you need to add the following to `build.sbt` (with the correct path of course): `Compile / PB.protoSources := file("/path/to/gogoproto")`

Also, it seems like you will need to add `flatPackage=true` to `scalapb.gen` to match the script setting.

[2021-06-07 17:41] Parikshit-DartCoder commented on #1173
@thesamet ohk let me try all the steps you mentioned and I will update you with the results

[2021-06-07 17:46] sudhirkumar1980 commented on #1176
i can not reproduce issue outside of one environment. seems like it is due to out of memory issue for intellij.

[2021-06-07 17:49] thesamet commented on #1176
Got it - you could try adjusting the various memory settings for the JVM in question.

[2021-06-08 03:15] nurikk commented on #1024
`--protoc` has to one of the first parameters in args

Not working
[code]
Working
[code]

[2021-06-08 03:34] thesamet commented on #1024
@nurikk Correct. ScalaPBC processes the command line as long as there are parameters that it recognizes. When it encounters a parameter it doesn't recognize (such as `protoc` parameters), or `--`, it forwards from that point onwards to `protoc`.

[2021-06-08 05:55] nurikk commented on #1024
yeah, it took me a while to figure out this fact,  I just updated to save some ones time :)

[2021-06-08 14:21] Parikshit-DartCoder commented on #1173
@thesamet should I only mention th epath for gogproto or my application proto as well.As of now compilation suceeds, I dont see any error but unfortunately no scala files generated

[2021-06-08 14:23] gontard opened #1177 "Unable to match on a repeated option field in a transformation"
I am trying to write the following rule based type customization:

[code]

but [this exception](https://github.com/protocolbuffers/protobuf/blob/4644980d818ec9d987f74c74b1a1d45de9ab01fd/java/core/src/main/java/com/google/protobuf/FieldSet.java#L1037-L1040) is raised during [transformation](https://github.com/scalapb/ScalaPB/blob/e368415a09a7d568ac81d8a13969fd3c05ef724f/compiler-plugin/src/main/sca

[2021-06-08 14:31] Parikshit-DartCoder commented on #1173
name := "protobuf_demo"

version := "0.1"

scalaVersion := "2.12.10"

Compile / PB.protoSources := Seq(sourceDirectory.value / "/home/ec2-user/paysihistory/src/main/protobuf/github.com/gogo/protobuf/gogoproto")

PB.targets in Compile := Seq(
  scalapb.gen(flatPackage = true) -> (sourceManaged in Compile).value
)

libraryDependencies += "com.thesamet.scalapb" %% "scalapb-runtime" % scalapb.compiler

[2021-06-08 15:14] Parikshit-DartCoder commented on #1173
**Directory structure:**
root_dir----> build.sbt  project  src
src----> main/protobuf/github.com/.  and myfile.proto

[2021-06-08 15:34] thesamet commented on #1173
The `Compile / PB.protoSources` line should be as follows:

[code]

because we are appending to `protoSources` - (you want to keep the default `src/main/protobuf` path), and since you are giving an absolute path to gogoproto the `sourceDirectory.value` shouldn't be there. In sbt, you can type `show protocSources` to see the directories it uses to search for protos.

[2021-06-08 15:44] thesamet commented on #1177
It's a bug/limitation - we haven't defined how matching should behave for repeated fields. I wonder what the behavior should be, possibly these two conditions should be met:
1. lists are of the same size
2. if elements are scalar, lists need to be equal
3. if elements are messages, corresponding elements need to satisfy `matchContains`

It might make sense to change (3) to ask for strict equality.

[2021-06-08 16:33] Parikshit-DartCoder commented on #1173
@thesamet  updated build.sbt

name := "protobuf_demo"
version := "0.1"
scalaVersion := "2.12.10"
Compile / PB.protoSources += file("/home/ec2-user/paysihistory/src/main/protobuf/github.com/gogo/protobuf/gogoproto/")
PB.targets in Compile := Seq(
  scalapb.gen(flatPackage = true) -> (sourceManaged in Compile).value
)
libraryDependencies += "com.thesamet.scalapb" %% "scalapb-runtime" % scalapb.compi

[2021-06-08 16:34] Parikshit-DartCoder commented on #1173
I think we need to give path only till protobuf

[2021-06-09 07:15] gontard commented on #1177
Thanks for your answer.

👌

I wonder what the behavior should be, possibly these two conditions should be met:

👍

I don't have any use case in mind.

Yes. I will try to find some time.
A few questions:
 - is there something to do for the others matching modes (`EXACT`, `PRESENCE`)?
 - i found some [transformations](https://github.com/scalapb/ScalaPB/blob/master/e2e/src/main/protobuf/transformatio

[2021-06-09 12:07] Parikshit-DartCoder commented on #1173
Hi @thesamet I generated the Scala class from protobuf, but now when I try to use them to package I get below errors ,let me know if there is anything I mossed:
** Unable to find encoder for type pb.PaysiHistory. An implicit Encoder[pb.PaysiHistory] is needed to store pb.PaysiHistory instances in a Dataset. Primitive types (Int, String, etc) and Product types (case classes) are supported by import

[2021-06-09 15:46] thesamet commented on #1173
@Parikshit-DartCoder , have you read the section around which imports you should and shouldn't have in the [docs](https://scalapb.github.io/docs/sparksql/#using-sparksql-scalapb)?

[2021-06-09 16:02] Parikshit-DartCoder commented on #1173
Hi @thesamet I have fixed this in my code it was due to the way I was converting the RDD to data frame which is not supported in Spark 3.0.1 for protobuf based serializations.I have the jar created now using sbt package.

And the earlier issue I was facing because of gogo.proto git repo there are many unwanted photos in that which I don't need so I just extracted out the part I want and copy them

[2021-06-09 16:06] thesamet commented on #1177
I believe `EXACT`'s implementation remains unchanged. `PRESENCE` seem to have a similar bug, I think that for repeated fields, it needs to compare non-emptiness and not recurse.

The `PRESENCE` and `CONTAINS` matches are tested [here](https://github.com/scalapb/ScalaPB/blob/master/compiler-plugin/src/test/scala/scalapb/compiler/FieldTransformationsSpec.scala#L428-L515). It's outside e2e so much fa

[2021-06-09 18:53] sudhirkumar1980 opened #1179 "Error field of null of empty Array of struct"
Hi All,
Source json file has two records. Second record does not have address. We are getting UnsupportedOperationException while processing these record in spark and using encoder generated by scalapb. is there any solution or workaround for it?
###Source Json File ###
{"empId" : "1","empName" : "name1","deptName" : "dept1","address": [{"street" : "street11","city" : "city11","state" : "state11",

[2021-06-09 19:10] thesamet commented on #1173
It sounds like the original issue (reported in the first message) has been resolved through a version upgrade and correcting SBT settings. Closing this issue now, and feel free to open new tickets whether there are other issues. For general questions or guidance, please use gitter or stackoverflow.

[2021-06-09 20:01] sudhirkumar1980 commented on #1179
Thank You for documentation. I am able to make it working with spark structured streaming. Is there any way to avoid the message on "No Implicits found for parameter evidence$2: Encoder[Employee] "?
###Complete Code
 val spark: SparkSession = SparkSession.builder().master("local[*]").getOrCreate()
    import scalapb.spark.Implicits._
    import scalapb.spark.ProtoSQL
    import spark.implicits.Str

[2021-06-09 20:32] #1179 closed

[2021-06-11 12:32] aaabramov opened #1180 "Feature request: add an option to control field scope"
I would like to generate a message like

[code]

I have found a workaround how to do it:
[code]
But that is not obvious for users, IMHO.
Either we can document this behaviour or add a separate option, e.g. `field_scope`.

[2021-06-11 15:56] thesamet commented on #1180
Hi @aaabramov , feel free to send a PR that documents it, either in https://scalapb.github.io/docs/customizations#adding-annotations and/or adding an FAQ right after this [one](https://scalapb.github.io/docs/faq#how-do-i-mark-a-generated-case-class-private). I want to refrain from adding specific options for scope: since there are multiple of them (protected, private, `private[pkg]`, `private[this

[2021-06-12 06:29] #1173 closed

[2021-06-12 23:07] #1158 closed

[2021-06-12 23:13] thesamet commented on #1152
Blocked on https://github.com/gradle/gradle/issues/16527

[2021-06-12 23:40] thesamet commented on #1024
protoc version 3.17.3 is shipped with a binary that is identical to the x86_64 binary, but can be run on M1 Arm using Rosetta compatibility mode. Can one of you that have access to M1 ARM try to set `PB.protocVersion := "3.17.3"` in their project and confirm whether it works?

[2021-06-12 23:41] thesamet commented on #1014
Closing due to inactivity. A PR will be welcome.

[2021-06-12 23:41] #1014 closed

[2021-06-12 23:42] thesamet commented on #947
We now have an option to inhibit the implicit validator insertion. Closing - feel free to open a new issue if there are additional gaps.

[2021-06-12 23:42] #947 closed

[2021-06-13 13:43] Parikshit-DartCoder opened #1182 "No Encoder found for com.google.protobuf.ByteString"
I am getting this issue when trying to submit my spark streaming job to emr spark(3.0.1):

**ERROR LOG**

21/06/13 13:30:03 ERROR JobScheduler: Error running job streaming job 1623591000000 ms.0
java.lang.UnsupportedOperationException: No Encoder found for com.google.protobuf.ByteString
- array element class: "com.google.protobuf.ByteString"
- field (class: "scala.collection.Seq", name: "lengthDel

[2021-06-13 16:07] thesamet commented on #1182
Hi @Parikshit-DartCoder , please see my earlier answer [here](https://github.com/scalapb/ScalaPB/issues/1173#issuecomment-857819195).

[2021-06-14 09:31] juliano commented on #1158
Thank you!

[2021-06-14 14:50] Parikshit-DartCoder commented on #1182
@thesamet I have read it ,I am pasting the code below that I am using.I have tried multiple ways to convert the rdd to dataframe ,commented below .For converting a protobuf message based RDD to df I am looking for a suitable method under ProtoSQL.If available kindly point.

 stream
      .transform(rdd => {
        offsetRanges.put(rdd.asInstanceOf[HasOffsetRanges].offsetRanges)
        rdd

[2021-06-14 16:49] thesamet commented on #1182
`ProtoSQL.protoToDataframe` is the right method. If you are getting an error related to encoders, it sounds like you don't have an import of `scalapb.spark.Implicits._` in scope.

If you already have this import, the best way for me to be able to reproduce the specific problem you are seeing is by providing me a minimal example project. An easy way to do that is to fork https://github.com/thesamet

[2021-06-15 16:53] Parikshit-DartCoder commented on #1182
Hi @thesamet I have modified my code as below, the bytestring encoder error is gone.But I see a Array out of bounds exception while trying to write the dataframe as parquet:

**IMPORTS**
import java.util.concurrent.LinkedBlockingQueue

import org.apache.kafka.common.serialization.{ByteArrayDeserializer, StringDeserializer}
import org.apache.spark.SparkConf
import org.apache.spark.sql.functions._
i

[2021-06-15 17:19] thesamet commented on #1182
@Parikshit-DartCoder Can you provide a stacktrace and ideally a reproducible example I can try? I am not able to tell what's going on based on the information you provided.

[2021-06-15 17:21] thesamet commented on #1182
@Parikshit-DartCoder Can you provide a full stacktrace and ideally a reproducible example I can try? I am not able to tell what's going on based on the information you provided.

[2021-06-16 05:52] Parikshit-DartCoder commented on #1182
Hi @thesamet we are consuming from a kafka stream where in the messages are in Protobuf format.We convert the initial message into a byte array then use protobuf deserializations prior to archival in S3.I am not sure if this setup can be reproducible at your end. I can share a minified code base though removing org specific data

[2021-06-16 14:17] Parikshit-DartCoder commented on #1182
**STACK TRACE SPARK DRIVER**
21/06/16 10:01:24 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
21/06/16 10:01:28 INFO SparkContext: Running Spark version 3.1.1-amzn-0
21/06/16 10:01:28 INFO ResourceUtils: ==============================================================
21/06/16 10:01:28 INFO ResourceUtils: No custom resourc

[2021-06-16 14:51] thesamet commented on #1182
The goal is to find to the essence of the problem and remove everything that is unrelated to it. Try to remove every part in the code that is irrelevant to the issue you are seeing. For example, does the problem happen when you write the parquet to a local file instead of s3? Does it happen when instead of reading from Kafka stream, the data is read from a local file or, better yet, in-memory rdd?

[2021-06-18 18:07] thesamet commented on #1182
Closing since the originally posted issue (No encoder found for ByteString) has been [resolved](https://github.com/scalapb/ScalaPB/issues/1182#issuecomment-861666255). For the outstanding `ArrayIndexOutOfBoundsException` please open a new issue and provide a minimal, self-contained reproducible example according to the guidelines in the earlier message.

[2021-06-18 18:07] #1182 closed

[2021-06-22 12:31] aaabramov commented on #177
I've managed to workaround this by using `protected val` + `def`:

[code]

[code]

[2021-06-22 15:51] #1180 closed

[2021-06-22 15:55] thesamet commented on #177
I believe the original problem reported on this issue has been resolved in ScalaPB 0.10.10 and 0.11.x - custom types do not require to be defined for empty values. The parsing code no longer relies on `defaultInstance`.

[2021-06-25 10:53] juliano commented on #1158
Hi @thesamet, thanks to put the time to look into the issue. I gave the new version (0.11.4) a try and unfortunately the issue is still there. I updated my example to reproduce the error.

[2021-06-25 12:52] thesamet commented on #1158
Hi Juliano, your proejct still uses an old (0.10.x) code generator in [here](https://github.com/juliano/scalapb-example/blob/a093784410ef269bf753a0ba58bc705662bba438/project/plugins.sbt) - this needs to be updated to 0.11.4. Note that google-common-protos is not available yet for ScalaPB 0.11.x, the issue is [tracked here](https://github.com/scalapb/ScalaPB/issues/1122).

[2021-06-25 13:48] juliano commented on #1158
That makes a lot of sense 😅

Thanks again @thesamet !

[2021-06-27 15:50] thesamet commented on #1174
@bjaglin Is there additional work needed to resolve this issue?

[2021-06-28 15:07] bjaglin commented on #1174
Not to my knowledge. Thanks for the ping, I just spent some time finishing up https://github.com/scalapb/scalapb-validate/pull/123 which was the original driver for this, and it's green :+1:

[2021-06-28 15:07] #1174 closed

[2021-06-28 15:09] bjaglin commented on #1174
(I know it's not ideal and it would better be tested in ScalaPB itself, but at least if something regress we'll see it upon bumping https://github.com/scalapb/scalapb-validate)

[2021-07-04 18:08] siddharthvp commented on #1024
Still fails with `download failed: com.google.protobuf#protoc;3.15.6!protoc.exe(protoc-binary)` despite setting protocVersion as 3.17.3.  Using sbt-protoc v1.0.3 and scalapb compiler-plugin v0.11.4.

[2021-07-05 04:09] thesamet commented on #1024
@siddharthvp It looks like the `PB.protocVersion` is not applied in the project which reports the error (given that it tries to download version `3.15.6` in the error you reported. Without seeing the `build.sbt`, it is hard to tell where the problem is. Perhaps you can try on a vanilla project created with:

[code]

Then, in the generated `build.sbt`, add:

[code]

[2021-07-07 11:22] aludwiko commented on #177
@thesamet I'm not sure about the fix in 0.11.x, after upgrading to 0.11.4 I'm still facing the error, where `defaultInstance` is used for serialization:
[code]

[2021-07-07 15:05] thesamet commented on #177
@aludwiko - can you double check if you regenerated the code after the ScalaPB upgrade (`sbt clean` may be necessary). If you did, can you update the example project you shared earlier to reproduce this?

[2021-07-09 06:47] aludwiko commented on #177
@thesamet Actually it's quite easy to reproduce it, just run the Main from: https://github.com/aludwiko/scalapb-serialization

[2021-07-09 15:45] thesamet opened #1198 "Failure to serialize when a no_box field has non-total typemappers."
When a field has a non-total typemapper (such as `String` <-> `BigDecimal`) and the field has `no_box` modifier,  serialization will throw an exception since the generated code will rely on `defaultInstance`.

[2021-07-09 15:46] thesamet commented on #177
Thanks for putting together the example. It looks like this issue can be reproduced only when `no_box` is also used - let's track this in #1198.

[2021-07-09 18:50] #1198 closed

[2021-07-11 20:26] johnynek commented on #1024
Just to report back, adding `PB.protocVersion := "3.17.3"` as one of the `.settings(...)` in my build worked for me on an M1.

Thanks!

[2021-07-11 22:04] thesamet commented on #1024
Perfect, thanks for confirming, @johnynek .

[2021-07-11 22:04] #1024 closed

[2021-07-14 04:03] nitsh opened #1201 "toString, name behavior of enums values when enum_strip_prefix: true"
Context :
Google protobuf style guide for enums suggests to add prefix to enums to help avoid conflicts of value names of enums defined in the same file : https://developers.google.com/protocol-buffers/docs/style#enums

In case of .NET code generation, this style is recognized and the prefix is stripped from the enum values in the generated code : https://docs.microsoft.com/en-us/dotnet/architectu

[2021-07-14 16:57] #1201 closed

[2021-07-14 17:05] thesamet commented on #1201
Hi @nitsh , changing the behavior of `name` and `toString` to return the prefixed name would be a breaking change (other libraries already assume that it always matches the proto name). The fix I submitted above will let you retrieve the Scala name of the field through the descriptor. See [example usage here](https://github.com/scalapb/ScalaPB/blob/3ca07090973d7d81e075d25956a135efef6a7a63/e2e/src/

[2021-07-26 15:04] yhvicey opened #1203 "google.protobuf.Duration being mapped to Option[...]"
`google.protobuf.Duration` from `google/protobuf/duration.proto` being mapped to `Option[com.google.protobuf.duration.Duration]`, rather than `com.google.protobuf.duration.Duration` directly. I assume this message type should be non-nullable?
And is there any way to override this behavior to map `google.protobuf.Duration` in .proto to `com.google.protobuf.duration.Duration` directly in .scala?

[2021-07-26 16:19] thesamet commented on #1203
Hi @yhvicey , message types in proto3 are always optional. To avoid the option box you can [set the `no_box` option on a field](https://scalapb.github.io/docs/customizations#message-level-custom-type-and-boxing). You can also have this option set throughout your project by using field transformations. [This example](https://scalapb.github.io/docs/transformations#example-customizing-third-party-typ

[2021-07-26 16:19] #1203 closed

[2021-07-26 16:21] thesamet commented on #1203
To summarize, add a file like this under src/main/protobuf/options.proto:

[code]

[2021-07-27 02:18] yhvicey commented on #1203
Thanks @thesamet , `[(scalapb.field).no_box = true]` solve the issue for me.
BTW, seems `package.proto` with package-scope options is not working for Maven plugin, is this expected?

[2021-07-27 04:19] thesamet commented on #1203
This is expected to work with maven as long as the package.proto file is passed to protoc/scalapb along with the other proto files.

[2021-07-27 15:02] yhvicey commented on #1203
I created a minimal reproable [maven project](https://github.com/scalapb/ScalaPB/files/6886562/Repro.zip), within it I set `flat_package: true` and `scope: PACKAGE`, and if I execute `mvn clean protoc-jar:run` against this project, the generated message still have its containing file as part of its package name:
![image](https://user-images.githubusercontent.com/8000820/127177995-c9a52456-102c-45a

[2021-07-27 16:12] thesamet commented on #1203
@yhvicey the package name in `package.proto` and `ShouldBeFlatted.proto` are different. Package-scoped options are applied only in the scope of the package they are defined in and its subpackages.

[2021-07-27 16:16] yhvicey commented on #1203
They are same in my given sample:
![image](https://user-images.githubusercontent.com/8000820/127190072-8bdc4e72-75f8-41e5-b091-89408bedb5e2.png)

[2021-07-27 17:45] thesamet commented on #1203
It seems that there is a limitation for working with package-scoped option related to protoc-jar-maven-plugin. It appears to be invoking protoc for each file separately, rather than for all sources at once. So, when `ShouldBeFlatted.proto` is processed, it isn't aware of `package.proto`. To get around it, you could `import "package.proto"` in each source file.

I filed this issue with the plugin t

[2021-08-05 08:42] kevinmu commented on #629
Related to the above, would it be possible to have a `no_default` field-level tag similar to `no_box`? My intuition was that those two tags were pretty similar in when they would be applied.

[2021-08-06 01:46] thesamet commented on #629
I've released this functionality in 0.11.5, see the docs and tests in 5058fb6 for details.

[2021-09-01 09:29] Ic3fr0g commented on #1122
@thesamet since this is an important release (finally able to work with Spark 3.1.2, sparksql-scalapb and common-protos) can you update the documentation in https://scalapb.github.io/docs/ ?

[2021-09-01 09:30] Ic3fr0g commented on #1122
FYI the workaround is not required now - https://github.com/googleapis/java-common-protos/pull/214

[2021-09-01 16:51] thesamet commented on #1122
@Ic3fr0g Updated the docs. Also released 2.5.0 for proto-google-common-protos which indeed doesn't require the workaround.

[2021-09-10 03:29] rgueldem opened #1226 "Update resvered keyword list for Scala 3"
There are a few new reserved keywords in Scala 3, see list here: https://dotty.epfl.ch/docs/internals/syntax.html#keywords. The generated scala code can be invalid if it contains any of these. One of our schemas is using the term `open` in an enum, resulting in a syntax error.

Updating https://github.com/scalapb/ScalaPB/blob/428cd7139ed3e48566ee43339524bd41fcae9732/compiler-plugin/src/main/scala/

[2021-09-10 03:50] thesamet commented on #1226
Thanks, will you be able to send a PR?

[2021-09-14 13:58] moonkev opened #1229 "Disable unknown fields via protoc option"
Hello

Currently by default unknownFields are included in generated code.   This is of course a reasonable default and in accordance with how other protoc plugins (i.e. Java) work.  In a project that I work on however, we turn this off using the scalapb file level option `preserve_unknown_fields`.  We do this as we also expose our protobufs in graphql via Caliban library, and do not want unknownFi

[2021-09-14 15:46] thesamet commented on #1229
Hi @moonkev , see this [FAQ](https://scalapb.github.io/docs/faq#why-a-certain-customization-is-not-available-as-a-global-generator-parameter). My suggestion is to add a new directory in your Scala project (say `src/main/protobuf-scala`) for the package-scoped options proto file, and put it in here. This would be the only place in your project where referencing `scalapb.proto` is permitted, and you

[2021-09-14 16:04] moonkev commented on #1229
Thank you very much @thesamet!  This works perfectly for our needs.  My apologies, not sure how I missed this from the documentation.

[2021-09-14 16:04] #1229 closed

[2021-09-30 02:02] #1226 closed

[2021-11-01 23:27] snoble commented on #505
@thesamet: this last solution is great and just works. Have you attempted to get it to work with metals?

[2021-11-02 00:45] thesamet commented on #505
@snoble I haven't used metals directly, but it works fine on different sbt/scalapb projects within vs code using nix-env-selector extension. If there's any specific issue you'd like help with, can you file a new ticket with instructions on how to reproduce?

[2021-11-02 18:56] snoble commented on #505
Amazing. After installing that extension in vs code, restarting, then restarting the build server for metals, all my errors went away. Thank you!

[2021-11-04 09:27] rdesgroppes commented on #126
Did someone file a IntelliJ Scala plugin bug?

[2021-11-04 14:13] thesamet commented on #126
@rdesgroppes This problem is fixed in IntelliJ 2021.1.1 and sbt-protoc 1.0.4.

[2021-11-04 15:07] rdesgroppes commented on #126
Thanks, @thesamet! I happened to be stucked on an older version:
[code]
... sorry for that!

[2021-11-28 22:59] Matt-S6 opened #1271 "When using ProtoSQL.udf on Databricks 7.3 LTS (Spark 3.0.1, Scala 2.12) cluster, encounter java.lang.VerifyError"
When following along with the UDF example in the scalapb docs, https://scalapb.github.io/docs/sparksql#udfs, I encountered a `java.lang.VerifyError: class frameless.functions.Spark2_4_LambdaVariable overrides final method genCode`. This can be reproduced with additive-only modifications here: https://github.com/thesamet/sparksql-scalapb-test/pull/4. Am I doing something incorrectly here?

edit: ra

[2021-11-29 03:18] thesamet commented on #1271
Hi @Matt-S6 , I wasn't able to reproduce the issue with Spark 3.0.1 and the PR you provided. From the exception you quoted, it seems that Spark 2.4 is involved in your environment. Please see the version compatibility matrix here: https://scalapb.github.io/docs/sparksql/#setting-up-your-project

[2021-11-29 05:11] Matt-S6 commented on #1271
Hmm, I saw that and was very confused. The databricks cluster version is for spark 3.0.1, though their "7.3 LTS" equivalent package isn't identical to open-source spark 3.0. I'll try and reproduce this with the open source spark and go from there. Thanks for verifying on your machine... stay tuned.

[2021-11-29 17:39] Matt-S6 commented on #1271
Following up here, confirmed your experience @thesamet, running open source spark 3.0.1 succeeds. So it seems to be something special about how databricks optimizes it's proprietary spark version. I'll poke them about it. In the meantime, I suppose my only short-term option is to drop down to spark 2.4 or run spark on aws EMR. What's the plan for releasing a scalapb version for spark 3.1 or 3.2 in

[2021-11-29 17:50] #1271 closed

[2021-11-29 18:26] Matt-S6 commented on #1271
Just to verify that's `sparksql-scalapb-0.11.0` not `sparksql-scalapb-0.11.0-RC1` , correct?

[2021-11-29 18:28] thesamet commented on #1271
Correct.

[2021-11-29 18:42] Matt-S6 commented on #1271
We're jumping down the rabbit hole now... running `sbt clean && sbt assembly` on the master branch of `sparksql-scalapb-test` with only the following lines changed in `build.sbt`
[code]
Issues the following compiler errors:
[code]

[2021-11-29 18:44] thesamet commented on #1271
You also need to update the ScalaPB version to 0.11.x (latest is 0.11.6) in `project/scalapb.sbt`, clean and rebuild.

[2021-11-29 19:36] Matt-S6 commented on #1271
updated to 9.1 LTS (Spark 3.1.2, Scala 2.12), scalapb 0.11.6, sparksql-scalapb 0.11.0, but same outputs. Works on local open source spark, but fails with `java.lang.VerifyError: class frameless.functions.Spark2_4_LambdaVariable overrides final method genCode` on databricks cluster.

[2021-11-29 20:45] Matt-S6 commented on #1271
another follow up: looks like things work when just using the Dataset/DataFrame api (rather than the ProtoSQL.udf).
[code]
Works fine on databricks cluster.

[2021-11-29 22:14] Matt-S6 commented on #1271
I've identified work-around for our use-case using dataset api and joining original dataframe via unique identifier. Inefficient, but it'll work for now. Full example can be found here: https://github.com/Matt-S6/sparksql-scalapb-test/blob/1290718a329296b6f5475a2e4b332a68a56ae4c0/src/main/scala/RunDemo.scala
Looking forward to getting to the bottom of this with the folks from databricks and any up

[2021-11-30 16:42] thesamet commented on #1271
It turns out Frameless already supports Spark 3.2 and it now ships with artifacts for each supported version of Spark (3.0, 3.1, 3.2). I'll set up sparksql-scalapb to cross-compile and publish in a similar way so it's easier to pick the Spark/ScalaPB combination you need.

[2021-12-02 13:57] github-brice-jaglin commented on #1024
Following up in https://github.com/thesamet/sbt-protoc/pull/279

[2021-12-07 07:37] kevinmu opened #1276 "Timestamp issue when upgrading from 0.9.7 to 0.11.5?"
Hi, this is probably more of a request for help/assistance than an actual bug.

Like the post says, I am trying to upgrade scalapb from 0.9.7 to 0.11.5. However, I have existing code that instantiates Timestamps (`com.google.protobuf.timestamp.Timestamp`) and I'm having some trouble figuring out how to migrate that code.

If I simply upgrade scalapb and don't change my existing code, I get the fol

[2021-12-07 16:57] thesamet commented on #1276
Hi @kevinmu , it looks like one of the library dependencies of your project was not upgraded to ScalaPB 0.11.x, so some of your project code is compiled for ScalaPB 0.9.x, and some of it for ScalaPB 0.11.x. If you see the stack trace for the "NoSuchMethodError" it might suggest which dependency is the one that needs upgrading to ScalaPB 0.11.x.

If you are using sparksql-scalapb or scalapb-json4s

[2021-12-08 00:07] micmorris opened #1277 "[ScalaPB-Json4s] Make Default 'ignoringUnknownFields' = 'true'"
When receiving an additional field because of a forward-compatible change that a client has not adopted yet, the client will fail with `Cannot find field: ...`. This is because ['ignoringUnknownFields' defaults to 'false'](https://github.com/scalapb/scalapb-json4s/blob/master/src/main/scala/scalapb/json4s/JsonFormat.scala#L477).

This makes the JSON client not forwards-compatible by-default.

It a

[2021-12-08 00:50] thesamet commented on #1277
Thanks for the feedback. The default behavior is modeled after the JSON spec for protobuf at https://developers.google.com/protocol-buffers/docs/proto3#json_options:

[2021-12-08 02:06] micmorris commented on #1277
(First of all, I'm a big fan, thanks for all your work on this project! it's easily one of my favorite Scala libraries ❤️ )

Ok it is technically in-line with the Proto spec...

However, it was still very shocking when I shipped what I expected was a forward-compatible change (adding an optional field in a response) and then 100% of my requests were failing deser on the caller because the field wa

[2021-12-08 02:28] thesamet commented on #1277
Thanks Michael. I'd assume the spec designers wanted to have new solutions throw an error in presence of unknown fields rather than having the error silently ignored (with the data permanently lost), so developers can detect that early (like in your case) and update the setting when being informed of the possibility of information loss...

I brought the docs up to par with all the parser docs we c

[2021-12-08 02:28] #1277 closed

[2021-12-16 07:24] Ic3fr0g opened #1286 "Spark 3.1.2 and scalapb-sparksql compatibility"
I've read the documentation and FAQ and still have some concerns particular to my setup. According to [documentation](https://scalapb.github.io/docs/sparksql#setting-up-your-project) the table only shows the version to pick for Spark 3.0.

**Do you currently support Spark 3.1.2 (Scala version 2.12.10) and what would be the `compilerplugin` and `scalapb-sparkql` versions that support the same?**

T

[2021-12-16 07:49] thesamet commented on #1286
Hi @Ic3fr0g , turns out there are some minor incompatibilities between Spark 3.0, Spark 3.1, and Spark 3.2. Recently I made a change that ScalaPB will produce a cross-build for all combinations of Spark and ScalaPB versions so it is easier to pick. I'll publish the docs for this in the coming days.

[2021-12-20 03:37] igibek opened #1288 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 03:37] igibek opened #1289 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 03:37] igibek opened #1290 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 03:37] igibek opened #1291 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 03:37] igibek opened #1292 "[Security] Workflow test.yml is using vulnerable action actions/checkout"
The workflow test.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 20:06] mitchellehlers opened #1293 "Option to relax string utf8 parsing requirement"
I am looking for a option to enable support for parsing proto which contains Strings that contain non-UTF8.

[Version 0.10.0](https://github.com/scalapb/ScalaPB/blob/master/CHANGELOG.md#0100) introduced Strings being parsed using CodedInputStream.readStringRequireUtf8 instead of CodedInputStream.readString. [readString()](https://github.com/protocolbuffers/protobuf/blob/master/java/core/src/main/j

[2021-12-20 21:08] bjhartin commented on #1293
I agree we need some way to handle this - we don't have control over these devices that send the messages.

[2021-12-20 22:03] thesamet commented on #1293
Hey there, the current behavior is consistent with the [protobuf language guide](https://developers.google.com/protocol-buffers/docs/proto3#scalar) and the Java implementation also uses `readString`

If you are expecting malformed strings, switch to using `bytes` as the data type in the proto used by the Scala application. This change is not going to require any change to the legacy devices as `by

[2021-12-21 16:25] #1291 closed

[2021-12-21 16:25] thesamet commented on #1289
Duplicate of #1290.

[2021-12-21 16:25] thesamet commented on #1288
Duplicate of #1290.

[2021-12-21 16:25] thesamet commented on #1292
Duplicate of #1290.

[2021-12-21 16:25] #1292 closed

[2021-12-21 16:26] #1289 closed

[2021-12-23 03:47] Ic3fr0g commented on #1286
I'm currently using [Databricks 9.1 LTS](https://docs.databricks.com/release-notes/runtime/9.1.html) running the JAR as a spark-submit job (because Databricks imports spark implicits by default in their notebook). I've had no issue using this code from Scala 2.11.8/Spark 2.4.7 but recently upgraded to Scala 2.12.15 and Spark 3.1.2.

Here's an MCV piece that reproduces the error/incompatibilities `

[2021-12-23 07:11] Ic3fr0g commented on #1286
Upgrading to Spark 3.2.0 also does not work for this example

[2021-12-23 16:40] thesamet commented on #1286
Can you provide a minimal example as a github repo I can clone and try, including specific instructions on how you run it? Please remove anything that may not be relevant to the problem such as hadoop-client, httpclient, the custom resolver, etc. Please also determine if the issue be re-produced outside Databricks. The example should also be upgraded to 1.0.0-M1 using the artifact names as describ

[2021-12-27 11:32] Ic3fr0g commented on #1286
You can close this ticket now! It works! Thanks, request you to make the changes in the docs as well

[2021-12-27 11:32] #1286 closed

[2021-12-29 04:18] rmekdma commented on #1286
The correct issue link is https://github.com/scalapb/sparksql-scalapb/pull/218

[2022-01-04 20:58] bjhartin commented on #1293
@thesamet I need to use field transformations, I think, because we don't control the original proto files.  However, I can't blindly convert `bytes` to another type because some fields must remain as bytes.  I see in the docs that I can specify the field name in a field descriptor in the `when` clause, but can I specify a package and class name as I would for auxiliary file or field options?  Or,

[2022-01-04 21:07] thesamet commented on #1293
The field transformations only apply within the package they are defined in when it's in package-scoped options. There's currently no way to restrict a field transformation by the name of the message it's in.

[2022-01-04 21:07] thesamet commented on #1293
With auxiliary options, you can have fine grained control over exactly which fields to transform.

[2022-01-09 17:22] thesamet commented on #1276
Closing due to inactivity, if this issue is still relevant, feel free to respond here again and I can re-open.

[2022-01-09 17:22] #1276 closed

[2022-01-10 18:43] bjhartin commented on #1293
Here's what we did (if there's a better way please let me know):

- We pull the .proto files locally in our CI build
- We pre-process them, doing two things:
  - Replace existing string fields with bytes
    - This step is unavoidable.  We don't own the protos.
  - Specify the scala type as "String" (our TypeMapper handles non-UTF8 chars)
    - There was no need for a custom type, we just needed t

[2022-01-11 01:16] thesamet commented on #1293
Hey @bjhartin ,  one thing you could try is to replace the second part of the pre-process with the following:

Add a field transformation to change all `bytes` fields to a String, then add aux_field_options to revert back the type to `com.google.protobuf.ByteString` the byte fields you want to retain as bytes. This will require you to have two typemappers, the one you already have, and a trivial o

[2022-01-18 20:31] mitchellehlers commented on #1293
This conversation was helpful. Thank you @thesamet and @bjhartin.

[2022-01-18 20:31] #1293 closed

[2022-01-26 19:21] tOverney opened #1313 "Publish new version of scalapb-json4s"
Hi,

I use scalapb with custom type mappers and when using the latest version of ScalaPB with scalapb-json4s 0.11.1 I get some errors where my typemappers are not found;

I've seen there's a 0.12.0 that was pushed also (albeit not being advertised as the latest release https://github.com/scalapb/scalapb-json4s/releases/tag/v0.12.0)

And when using that one I just get a stackoverflow when compiling

[2022-01-26 19:34] thesamet commented on #1313
It looks like 0.12.0 was cut out in error. Thanks for pointing it out! The latest version of scalapb-json4s is 0.11.8.  If this doesn't work - can you put together a minimal reproducible example of the problem?

[2022-01-26 19:42] tOverney commented on #1313
Thank you for the quick answer!

Did the artifact or org name changed?

I can't download v0.11.8 and I can't find it in maven https://mvnrepository.com/artifact/com.thesamet.scalapb/scalapb-json4s

Nor could scaladex find it it seems:
https://index.scala-lang.org/artifacts/scalapb/scalapb-json4s

[2022-01-26 19:59] thesamet commented on #1313
Sure, I deleted my previous reply since I mistakenly looked at tags at the wrong repo and posted incorrect information...

The latest version of scalapb-json4s is 0.12.0, it is designed to work with ScalaPB 0.11.x. I don't believe cutting a release would solve the issue you are seeing. Can you put together a minimal reproducible example?

[2022-01-26 21:19] tOverney commented on #1313
Ok!
I'll try to isolate that/make it work;

Cheers.

[2022-01-30 17:58] #1290 closed

[2022-01-31 23:04] Lasering opened #1316 "Support new Scala 3 syntax"
scalapb generated code fails to compile in Scala 3 under these scalac flags:

- `-new-syntax` - Require `then` and `do` in control expressions.
- `-source:future` - Deprecates: private[this], `_` for wildcard arguments, some other things
- `-Werror` - Fail the compilation if there are any warnings.

Would it be possible to have a new code generator under Scala 3 which would fix these problems (som

[2022-01-31 23:21] thesamet commented on #1316
I assume the reason this change is needed since you have a single project that includes both your code and generated code (correct me if I'm wrong). A possible solution which I highly recommend, regardless of this problem, is to move the code generation in a dedicated sub-project within the same SBT build, and have the main project depend on it. Currently, the generator aims to generate code that

[2022-02-01 00:30] Lasering commented on #1316
You are correct. Another sub-project would solve it.

According to [Wildcard Arguments in Types](https://docs.scala-lang.org/scala3/reference/changed-features/wildcards.html):

We are already at Scala 3.1.1 so it won't take long (assuming they stick to that schedule) for these changes to be necessary.

[2022-02-01 01:10] thesamet commented on #1316
Yes, maybe having the code generator have cases for different language versions is going to be inevitable one day. Is there an instance where the generated code is impacted by wildcard arguments in types?

[2022-02-01 15:16] Lasering commented on #1316
Using the [Address Book example from the docs](https://scalapb.github.io/docs/getting-started#defining-your-protocol-format) and the `-source:future`, `-Werror` flags the following errors are reported regarding the wildcard arguments:

[code]

With the same repeated for the other classes.

I have some experience with Scala 3 new features I can help if needed.

[2022-02-03 16:00] edenrose opened #1319 "enum_strip_prefix = true, don’t remove prefix from generated field name value"
Hey,
I'm trying to remove the protobuf enum prefix from the generated enum by specifying the `option (scalapb.options).enum_strip_prefix = true;`  but it seems to leave the prefix in the generated name field :\

for example :

`
option (scalapb.options).enum_strip_prefix = true;
option (scalapb.options).enum_value_naming = CAMEL_CASE;

enum Food {
    FOOD_PIZZA = 1;
    FOOD_ICE_CREAM = 2;
}

obj

[2022-02-03 16:40] thesamet commented on #1319
Hi Eden, see explanation and solution here: https://github.com/scalapb/ScalaPB/issues/1201

[2022-02-03 16:40] #1319 closed

[2022-02-17 04:40] basicobject commented on #1024
Adding this updated plugin did the work for me

addSbtPlugin("com.thesamet" % "sbt-protoc" % "1.0.6")

[2022-02-24 09:03] benckx commented on #1024
Thanks, this worked for me.

Is there a link to check what's the latest version of the plugin, and which version of `protoc-3.x.x-osx-aarch_64.exe` it uses? Trying to change the version with `Compile / PB.protocVersion := "-v3.17.3"` wouldn't work for me, but upgrading `sbt-protoc` picked up `protoc-3.19.2-osx-aarch_64.exe` automatically.

[2022-02-24 16:44] borissmidt opened #1332 "Imports stated in transformers are not added to grpc classes."
when i include transformers like:
it seems that the models pick up the imports of the converters properly but any service generated source file does not pick up this import statement.

package com.restore
option (scalapb.options) = {
  scope: PACKAGE
  import: "com.restore.protobuf.ProtobufConversions.{durationToProto, periodToProto, frequencyToProto, powerToProto, energyToProto, intervalToJoda, t

[2022-02-24 16:46] thesamet commented on #1024
Latest version of the plugin: https://github.com/thesamet/sbt-protoc/tags
The specific version of protoc it will pick up by default isn't documented outside the source code (good suggestion though!). I am not sure why setting it specifically `PB.protocVersion` didn't work for you - it will be useful if you can file a new issue with a minimal example showing that the setting is ignored.

[2022-02-25 21:31] #1332 closed

[2022-02-26 08:40] regiskuckaertz opened #1334 "Add package names for other languages"
Hi there!

We've been using zio-grpc to build an API that we intend to expose to our clients, with the intent to publish the IDL so they can generate their own API clients. I tried building a go example but it failed because the scalapb proto file did not have a `go_package` option.

Could the following options be added: `csharp_namespace`, `go_package`, `php_namespace` and `ruby_package`?

Happy

[2022-02-26 09:22] thesamet commented on #1334
Hi @regiskuckaertz , yes, I'm fine with this. Can you send a PR?

[2022-02-28 23:37] #1334 closed

[2022-03-11 12:29] borissmidt commented on #1332
@thesamet Do you have a timeframe for when these changes will be released?

[2022-03-13 19:15] thesamet commented on #1313
Closing due to inactivity. Please feel free to open a new issue or leave a comment here if additional support is necessary.

[2022-03-13 19:15] #1313 closed

[2022-03-13 19:26] thesamet commented on #1332
@borissmidt 0.11.10 is on its way.

[2022-03-13 19:57] borissmidt commented on #1332
Cool, thank you :)

On Sun, Mar 13, 2022, 20:26 Nadav Samet ***@***.***> wrote:

[2022-03-23 11:02] mullerhai opened #1343 "why use scalapb convert tensorflow some proto file ,meet [object scalapb is not a member of package <root>]"
env:
     scala: 2.12.11
      sbt:1.4.6
scalapb.sbt:
            addSbtPlugin("com.thesamet" % "sbt-protoc" % "1.0.2")
libraryDependencies += "com.thesamet.scalapb" %% "compilerplugin" % "0.11.3"

in build.sbt
[code]
in  src/main/protobuf/*.proto

after  run "sbt compile"
generate   scala file from  these proto file

after  I want  to run the scala project , I meet the error ,so  where  is the  s

[2022-03-23 11:02] mullerhai commented on #1343
I  use mac :latest system

[2022-03-23 11:23] mullerhai commented on #1343
also meet these error
[code]

[2022-03-23 11:23] mullerhai commented on #1343
where is the code
unknownFields: _root_.scalapb.UnknownFieldSet = _root_.scalapb.UnknownFieldSet.empty

[2022-03-24 02:49] mullerhai commented on #1343
thanks for your reply , I  have found it is my fault ,Although  I have execute "sbt compile" in Idea Terminal View ,but the scalapb package is not really import into Idea ,also need click the Idea SBT View to Sync the Dependency.
and  in build.sbt file I also need to edit some  scope limit  for  scalapb

for example
[code]

[2022-04-02 14:26] #1343 closed

[2022-04-08 08:56] wesselvdv commented on #578
Was there ever any attempt for this?

[2022-04-12 08:50] mullerhai opened #1350 "value readStringRequireUtf8 is not a member of com.google.protobuf.CodedInputStream"
env:
     scala:2.12.11
     spark 3.1.1
      hadoop 3.1
      jdk 15
      system: mac
    scalaPB latest
    proto-java: 3.19.4

because  of spark sql and  hadoop common also contain proto-java dependency , in  sbt build.sbt file ,I have  exclude it. ,and  emplicit declared the proto-java 3.19.4 version . in Idea , from invoke [com.google.protobuf.CodedInputStream readStringRequireUtf8 method

[2022-04-12 15:35] thesamet commented on #1350
When you exclude protobuf-java from the project, an older version of it comes from Spark. The older version is binary incompatible with the version used by ScalaPB. Instead of excluding use shading. The process is documented here: https://scalapb.github.io/docs/sparksql/

[2022-04-13 02:03] mullerhai commented on #1350
thanks for your reply ，but  also  big data other part jar, like  hdfs-client  hive  hbase  jar  also  have dependency of proto-java, how to  evict these  incompat dependencys

[2022-04-13 02:31] mullerhai commented on #1350
HI

I  create  new  scala sbt project,
scala scalaVersion := "2.12.10"
sbt version 1.4.6
jdk =15
mac latest
，and like https://scalapb.github.io/docs/sparksql/  mention  edit the build.sbt
[code]

plugins.sbt
[code]

scalapb.sbt
[code]

with compile  tensorflow  serving proto fils
but also  meet error

[code]

[2022-04-13 03:34] mullerhai commented on #1350
libraryDependencies += "org.apache.hive" % "hive-exec" % s"${hiveVersion}" exclude ("com.google.protobuf","protobuf-java")
make the error

[2022-04-13 04:50] thesamet commented on #1350
The errors indicate that you don't have scalapb-runtime-grpc in your project. See instructions here: https://scalapb.github.io/docs/grpc/

[2022-04-13 06:07] mullerhai commented on #1350
yeah, as your tip ,I  add it , it's  work,Thank you

[2022-04-13 06:27] thesamet commented on #1350
Perfect! Closing the issue then.

[2022-04-13 06:27] #1350 closed

[2022-04-16 23:12] thesamet opened #1354 "Field transformation matching on proto3 optional does not work"
Given this proto

[code]

We expect `nickName` to not be boxed, however the following case class is generated:

[code]

[2022-04-20 06:24] #1177 closed

[2022-04-22 19:14] 11Dimensions opened #1358 "Validation skipping not always possible"
When referencing an 3rd party protobuf that does not use validation and defines its own package properties it is not possible to use the validation `skip` feature due to package properties already being defined by the 3rd pary.

An example of this is `proto-google-common-protos-scalapb` where settings are defined for the `google` package but no validations are defined.
Using this package in a proj

[2022-04-24 16:34] thesamet commented on #1358
I am thinking of possible solutions to this. One of which is to allow multiple package-scoped options per package. However, before adding this complexity, if it would be a reasonable in your use case to add a `skip` at the sub-package level for each `google` package you are using. For example, for `google.type` you can place a file called `options-google-type.proto`:

[code]

[2022-04-25 17:50] 11Dimensions commented on #1358
This solves my problem I think in a way that multiple packaged scoped options would. And this seems like a clean enough work around as well.
FMI what is the semantic difference between using `package google.type` and `package google`?

[2022-04-27 03:10] thesamet commented on #1358
It means that the options apply to the package `google` and all its subpackages. When using `google.type` the options are for that package and its subpackages. I am not sure if this is what you wanted to know, if not please clarify.

[2022-05-08 15:27] #1358 closed

[2022-05-08 15:33] thesamet commented on #1354
This issue wasn't reproducible; added test that verifies it.

[2022-05-08 15:33] #1354 closed

[2022-05-08 15:35] thesamet commented on #1152
The underlying gradle bug has been fixed. No action needed on ScalaPB side so closing.

[2022-05-08 15:35] #1152 closed

[2022-05-09 05:13] andrew-teirney opened #1367 "Service with preamble broken in v0.11.10"
Upon updating to v0.11.10 I encountered a number of errors in the form "... is already defined ..."

I believe the fix that was implemented for #1332 introduced a bug that results in the preamble being emitted for services files, in addition to the single message file emitted with `single_file: true`.

This can result in multiple definitions of types, and other side effects depending on what the p

[2022-05-11 04:14] benthecarman opened #1368 "`uint64` generates a `Long` which can't represent everything a `uint64` can"
In one of the protos I am using it has a `uint64 chan_id = 2`, which when generated creates `chanId: _root_.scala.Long = 0L`.

However I have a `chanId` of `18114587244887524324` which can't be represented by `Long` and thus isn't able to be passed in. Ideally this should be made to be something like `BigInteger`.

[2022-05-11 04:22] thesamet commented on #1368
Hi @benthecarman , this is consistent with the Java protobuf implementation (see https://developers.google.com/protocol-buffers/docs/proto3#scalar):

For your specific use case, you can make ScalaPB use `BigInteger` by taking advantage of ScalaPB custom types: https://scalapb.github.io/docs/customizations/#custom-types

Using [field transformation](https://scalapb.github.io/docs/transformations),

[2022-05-11 04:30] benthecarman commented on #1368
Thanks!

[2022-05-11 04:30] #1368 closed

[2022-05-14 18:11] #1367 closed

[2022-05-15 16:40] thesamet commented on #1367
Thanks for reporting. The fix above makes preamble only appear in message files and not in service files. I also suggest that if you have definitions, move them to a separate file in your Scala source directory and only have imports in the generated code.

[2022-05-18 14:46] ak0rz opened #1370 "(scalapb.message).companion_extends appends to object FooMessage instead of object Foo"
I'm trying to append a trait with automatic implicit typeclass derivation for all variants of oneof.

But surprisingly .companion_extends appends to proto-type instead of root trait which extends GeneratedSealedOneOf.

It prevents from using typeclass implicits by subtypes of Foo.NonEmpty.

[code]

[code]

got

[code]

expected (in my opinion)

[code]

probably we need some `(scalapb.message).seal

[2022-05-18 14:57] thesamet commented on #1370
Yes, adding a new option makes sense. The existing option always impacts the companion of the message case class. Will you be able to work on a PR?

[2022-05-19 09:05] GreenBombel opened #1372 "Spark 3.2.1 and sparksql32-scalapb0_11 encoder error"
plugins.sbt

[code]

build.sbt
[code]

code
[code]

msgs.proto
[code]

Works properly with `spark 3.1.x` and `"sparksql31-scalapb0_11" % "1.0.0-M1"` but with `spark 3.2.x` and `"sparksql31-scalapb0_11" % "1.0.0-M1"` wil fail with

[code]
and issue is with encoding parsed message in map function
[code]

[2022-05-19 09:21] ya-goodfella opened #1373 "[proposal] Make an option for lazy-deserialization of complex types"
One of crucial performance bottleneck that `protobuf-java` adresses is figting with eager deserialization of complex (e.g. variable-sized) types.
There are even classes like `LazyField<T>`, that stores a `ByteString` underneath until actual access to the field occurs.

If we don't actually care about binary compatibility (which is usually the case for the generated code), we may accomplish that in

[2022-05-19 09:53] GreenBombel commented on #1372
probably more relevant in sparksql-scalapb

[2022-05-19 09:53] #1372 closed

[2022-05-19 10:12] ya-goodfella opened #1374 "[proposal] Provide a way to inject String deduplication into the deserialization pipeline"
This is a follow-up to #1373.

Let's look on great @shipilev talk onto Strings anatomy and effect on JVM performance - https://youtu.be/YgGAUGC9ksk?t=1739

In a nutshell:

<img width="702" alt="" src="https://user-images.githubusercontent.com/31408417/169267094-5ca0cc51-057a-4c3f-b271-286a52b44701.png">

So it may benefit some to eagerly release allocated (or even avoid allocation at all!) of obje

[2022-05-19 13:28] thesamet commented on #1374
Thanks for posting. Can you add to the proposal the following:
* how the duplicator will be selected?
* Would having a deduper require the field to be lazy evaled (as in #1373)?
* Can deduping made optional in the generator?
* Should it impact instantiation outside binary deserialization: `fromPMessage` (JSON, Spark)

[2022-05-23 04:47] enzief opened #1375 "Field options for types"
Motivation: allow Scala annotations to be added after type ascription of a message field.

For example, it's impossible to append `@nowarn` to a deprecated class. We should be able to do this:
[code]
to generate
[code]

[2022-05-23 12:20] ya-goodfella commented on #1373
Actually, simplest examples are the way they treat String values in generated code:

[code]

You may note here that they are also throw away the underlying ByteString (which is good for the memory footprint), but I'm not sure if it better to store it for later serialization or not. Anyway, this code looks hacky and follows "at least once" deserializations.

I suppose this is true, but I think it m

[2022-05-23 12:35] ya-goodfella commented on #1374
One of the options - provide a name of class, that implements `DeduplicatorProvider` interface:

[code]

This name may be provided on generator, package, file or even field level.

Actually they are related, but not tight coupled. You may want to reduce memory footprint of common objects even if they are eagerly parsed.
So, if you deserialize some string or message type, you may pass your already

[2022-05-23 15:48] ya-goodfella commented on #1375
First of all, you must use the canonical name for the annotation:

[code]

secondly, in case of use of deprecated type `(scalapb.field).annotations` should work fine.

Can you try to reproduce it with canonical annotation name?

[2022-05-23 15:55] thesamet commented on #1375
@enzief , see https://scalapb.github.io/docs/customizations#adding-annotations for documentation on `(scalapb.field).annotations`. It prepends the annotation though so I am not sure if it makes a difference in this case. Another suggestion which may eliminate the need for this in your use case is to compile protos in a seperate subproject for which you ignore its warnings.

[2022-05-24 15:34] #1370 closed, assigned to nobody

[2022-06-11 15:28] thesamet commented on #1375
Hi @enzief , were you able to check if the suggestions above work for your use case?

[2022-06-25 07:14] benthecarman commented on #1368
Do you know any examples of this, keep finding bugs in my own impl

[2022-06-25 13:46] thesamet commented on #1368
Hi @benthecarman , can you give an example of the uint32 test fails? Response may be delayed as I'm out of town.

[2022-06-25 18:27] benthecarman commented on #1368
I was just using Unt32.max - 1

[2022-07-14 15:21] enzief commented on #1375
They work. Thank you @thesamet .

[2022-07-25 07:36] Sumiya92 opened #1390 "Converting the result List[MAp[String,Any]] into scala.Option[com.google.protobuf.struct.Struct]"
Hi Team,

i have proto file

message IOTDecodeRequest {
  string id = 1;
  string device_id = 2;
  string device_parser_id = 3;
  bytes raw_data = 4;
}

message IOTDecodeResult {
  google.protobuf.Struct decoded = 1;
}

message IOTDecodeResponse {
  int32 status = 1;
  string id = 2;
  IOTDecodeResult result = 3;
  IOTDecodeError error = 4;
}

message IOTDecodeError {
  int32 code = 1;
  string me

[2022-07-25 07:50] thesamet commented on #1390
Hi @Sumiya92 , it should be fairly straightforward to write a function on your own that iterates over the input and returns a `Struct`. I encourage you to try it :)

[2022-07-25 07:50] #1390 closed

[2022-07-25 08:01] Sumiya92 commented on #1390
Hi @thesamet , My Question was really to contruct struct value in scala , i couldnot find any examples. any suggestions would be helpful.

[2022-07-25 08:21] thesamet commented on #1390
It is constructed like any ScalaPB message (it’s just a case class. The
code here converts from JSON to struct and back, so may be useful for
inspiration.

https://github.com/scalapb/scalapb-json4s/blob/master/src/main/scala/scalapb/json4s/StructFormat.scala

On Mon, Jul 25, 2022 at 1:01 AM Sumiya92 ***@***.***> wrote:

--
-Nadav

[2022-07-27 14:19] Visorgood commented on #1122
Hello @thesamet !
Could you please clarify, which exact library dependency should we use with Spark 3.1.2?
I am trying
[code]
but I get the error:
[code]

[2022-07-27 18:15] thesamet commented on #1122
Hi @Visorgood , it looks like your question is unrelated to common-protos (which is the issue you have posted it on). Can you file a new issue, also can you investigate how `frameless-dataset` version 0.10.1 gets into your build? It appears to be causing the error. You are using the correct dependency for the spark version you use.

[2022-07-28 06:54] Visorgood commented on #1122
Thank you @thesamet ! You are right, the problem is a different one. I've solved it by adding exclusion for frameless-dataset library in this way:
[code]

[2022-08-24 09:03] benthecarman opened #1402 "Feature request: add the ability to change the name of a rpc function"
I am trying to use a proto file that has an rpc function called `close` which overlaps with akka's grpc close function. Ideally I could add something to rename this function to something else so I can get around this issue.

Me I posted this question gitter @thesamet told me:

I am likely unavailable to do this but would love if someone else could! Could offer a small bitcoin bounty for it :)

[2022-08-24 18:35] thesamet commented on #1402
Thanks for reporting, @benthecarman . This sounds like an akka-grpc issue then, which is develoepd by a different team. Can you file a new issue, include the error you are getting, in the akka-grpc project at https://github.com/akka/akka-grpc/issues

[2022-08-24 18:35] #1402 closed

[2022-08-24 19:05] benthecarman commented on #1402
I still think this could be a useful feature

[2022-08-24 19:11] thesamet commented on #1402
I agree, since you are using akka-grpc (not ScalaPB's built-in grpc support) you need this feature implemented in akka-grpc so the issue/feature request belongs there. The solution is likely to involve a change to scalapb.proto and descriptor implicits within this project and I'll be happy to support this part.

[2022-09-06 11:51] vishalovercome commented on #358
This issue still persists with repeated fields. Strangely enough, I only get this warning when the repeated field is part of a gRPC response.

[2022-09-14 06:25] ndeverge commented on #37
For those still having the issue, I made it work with

`scalaSource in sbtprotoc.ProtocPlugin.ProtobufConfig := (Compile / sourceManaged).value`

[2022-10-25 11:33] cheatmenot opened #1423 "Update protobuf-java to 3.19.6"
Please update protobuf-java to 3.19.6 because current scalapb version 0.11.11 with protobuf 3.19.2 had vulnerability issue in it [CVE-2022-3171](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-3171). Just let me know if you need someone to get a PR for this. Thanks!

[2022-10-31 16:30] thesamet commented on #1423
ScalaPB 0.11.12 has been released which depends on 3.19.6. sbt-protoc and protoc-bridge have been updated to use the latest protoc by default.

[2022-10-31 16:30] #1423 closed

[2022-10-31 16:41] thesamet opened #1425 "Support and document buf"
In order to support build by bufs, we need the following:

* Look into whether the JVM-based executables can be used instead of the native build of scalapb since this also supports windows (https://repo1.maven.org/maven2/com/thesamet/scalapb/protoc-gen-scala/0.11.12/)

* Automatically upload releases of scalapb, scalapb-validate and zio-grpc to buf, through the respective projects .github/workflow

[2022-10-31 18:19] 11Dimensions commented on #1425
I haven't explored grpc compilers (outside the netty one that comes by default). I know some are in your purview (ZIO I think), should publishing those be included in the scope of work as well?

It might also be nice to include some instructions on publishing your own? (Maybe include a nice GHA)

Also I think we don't need to use the JVM based build since under the covers the plugins are wrapped u

[2022-10-31 18:23] 11Dimensions commented on #1425
Another thought. Given the fact that buf will need to be run before normal code compilation in this model should we consider writing an sbt wrapper around buf so it hooks in cleanly?

[2022-10-31 19:14] thesamet commented on #1425
Yes, I can take on doing this for zio-grpc and scalapb-validate native plugins to buf after this is done to ScalaPB (so I can follow the pattern established here), and check that it all works together.

Great, let's use the x86 native plugin then! I didn't know that.

Yes, I think this should be considered, and if so - should it be a mode of operation for sbt-protoc, or a separate plugin with poss

[2022-10-31 19:23] thesamet commented on #1425
What's the advantage for an SBT user that already chose to use buf outside sbt, to have their sbt build use buf as well and not sbt-protoc? Trying to understand the added value of building the plugin/wrapper mentioned in your message.

[2022-10-31 20:53] 11Dimensions commented on #1425
So interestingly with buf, using the plugin, all code, including 3rd party dependencies can be compiled client side, so no need to unpack jars, or even vend jars. Because there are no jars to manage this way you don't actually need to publish scalapb-options as well, since now there can be no mismatch between jar published and the generation options in the proto-file. This solves problems where th

[2022-11-02 23:26] jroper opened #1429 "FieldMaskUtil.merge support"
`FieldMaskUtil.applyMask` exists as a useful tool to filter out values according to the Google FieldMask spec. But, the other purpose for FieldMask is applying patches, ie, given a patch object, the field mask specifies what fields to copy over into a destination object, leaving all other fields not specified by the field mask unchanged in the destination object. This is the equivalent of the Java

[2022-11-02 23:35] thesamet commented on #1429
Hey @jroper , thanks for making this feature request. Will you be able to work on a PR?

[2022-11-03 00:15] jroper commented on #1429
I may, I'll see about time. I mainly created the issue to save others the time from working out whether it exists or not. As an inefficient work around, this works:

[code]

A more efficient solution exists if you're happy also generating Java protobuf classes, but the above works without Java protobuf classes generated.

[2022-11-03 00:18] jroper commented on #1429
More efficient one if Java classes are generated:

[code]

[2022-11-09 10:06] yonatanomer commented on #1024
Hi Nadav

both the sandalone scalapbc and the SBT plugin shows `Error fetching artifacts` even when passing explicit path:

**scalapbc:**
`./scalapbc -v3.5.1 --scala_out=./generated ./protobuf/protos.proto --protoc=/opt/homebrew/Cellar/protobuf/21.9_1/bin/protoc
Error fetching artifacts:
https://repo1.maven.org/maven2/com/google/protobuf/protoc/3.5.1/protoc-3.5.1-osx-aarch_64.exe: not found: https

[2022-11-10 08:34] rogern commented on #227
I wonder, can't this default to `immutable.Seq` if generated on >=2.13 and `collection.Seq` on earlier versions?
A tad annoying with false positives in IDE wherever used :)
We will configure it for now though.

[2022-11-10 15:12] niomaster opened #1431 "Field named `instance_of` in `oneof` causes redefinition of `isInstanceOf`"
Hi! If I name a field `instance_of` in a `oneof`, the `GeneratedOneof` trait defines a helper method `isInstanceOf`, which is incompatible with `Any.isInstanceOf[_]`. For example:

[code]

causes:

[code]

[2022-11-10 17:58] thesamet commented on #227
ScalaPB generator code is meant to be used on all supported versions of Scala, incl. Scala 3. Been trying to avoid having language-version logic in the generator, though this is something that can be considered in the future if there's a real advantage. For this one, you can set [`collection_type`](https://scalapb.github.io/docs/customizations#custom-collection-types) as a package-scoped option in

[2022-11-16 17:27] noirbizarre commented on #1425
My 2 cents: I think (because this is my use case) the main benefit is for the case where you need to publish synchronized version for multiple languages.

In our case, having each project consuming the proto files an generating the proper langage files have been a nightmare lately. Having a single repository able to publish the same proto files version for Python, Scala, Go... simplified everythin

[2022-11-23 17:41] Joshua-Scurr opened #1440 "[proposal] Allow Custom Generator Options"
In some cases, it would be beneficial to be able to supply custom options when generating code.

# An Example

We have a custom SBT plugin that uses ScalaPB to compile ProtoBuf files into both Scala and OpenAPI JSON; we use this within a separate project, where we specify the `.proto` files to be compiled. Within the OpenAPI specification, there is a field specifying the version of the API:

[code

[2022-11-23 22:50] thesamet commented on #1440
Hi @Joshua-Scurr ,
I read the write up a few times and trying to make sure I understand the problem you are trying to solve. Here's what I got: you generate an OpenAPI JSON file using your own protoc plugin, and you want the generated file to include a version number that is known to SBT. It is possible to pass custom parameters to protoc plugins through sbt-protoc. If you follow [writing custom p

[2022-11-24 08:39] Joshua-Scurr commented on #1440
That sounds correct; thanks you - I will have a look at that this morning

[2022-11-24 09:21] regiskuckaertz commented on #1440
@thesamet it looks like indeed this is turned into a closed vocabulary of parameters, here:

https://github.com/scalapb/ScalaPB/blob/3188058f2d348298c1d4ce93f582a59a9dae486e/compiler-plugin/src/main/scala/scalapb/compiler/GeneratorParams.scala#L30-L56

do you think we could change `GeneratorParams` to:

[code]
... then all the unrecognized options end up in `customOptions` and do not generate an e

[2022-11-24 15:04] thesamet commented on #1440
The success type of `fromStringCollectUnrecognized` is a `(GeneratorParams, Seq[String])`. The `Seq[String]` represents all the options that are not ScalaPB options, for third-party code generators to process further.

[2022-11-25 09:10] Joshua-Scurr commented on #1440
That looks to have been the answer. Many thanks!

[2022-11-25 14:00] #1440 closed

[2022-11-25 17:36] #1431 closed